/*this is the chat page styles */
.chat-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cadeee;
}

.chat-container {
  position: relative;
  height: 630px;
  width: 1200px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /*those 3 liner are important and new*/
  max-width: 3000px;
  width: 100vw;
  margin: 0;
}

.end-chat-btn {
  padding: 4px 9px;
  font-size: 14px;
  background: linear-gradient(to right, #cadeee, #4a7ca5);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.end-chat-btn:hover {
  background: linear-gradient(to right, #88a2b8, #2f5574);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.end-chat-btn:focus {
  outline: none;
}
